:root{
	--theme-color: #000;
	--theme-command-hover-color: color(var(--theme-color) l(100%) a(.2));
	--ascend-color: #0078D7;
	--font-color: #fff;
	--close-color: #E81123;
	--pd: 7.5px;

}

*,
*::after,
*::before{
	box-sizing: border-box;
}

@custom-selector :--app-title header.app-title;

:--app-title {
	position: relative;
	padding: var(--pd) var(--pd) var(--pd) calc(var(--pd) * 2);
	color: var(--font-color);
	background-color: var(--theme-color);
	font-size: .75em;
}

:--app-title .commands{
	position: relative;
	float: right;
	margin-top: -var(--pd);
	margin-right: -var(--pd);
	height: 100%;
	font-size: 2em;
}

:--app-title .commands .button{
	padding: .5px 10px;
	border: none;
	background-color: transparent;
}

:--app-title .commands .button:hover{
	background-color: var(--theme-command-hover-color);
}

:--app-title .commands .button.close:hover{
	background-color: var(--close-color);
}
