.Command {
  display: grid;
  grid-template-columns: auto 1fr repeat(3, auto);
  align-items: center;
  justify-items: flex-start;
}

.Command button {
  font-size: 1.5em;
  width: 45px;
  border: none;
  background-color: transparent;
  transition: all 0.5s;
}

.Command button.close:focus,
.Command button.close:hover {
  color: var(--color);
  background-color: var(--header-close);
}
